<header class="menu">
  <img class="img-logo" src="img/logo.png" width="120px" height="36.38px">
  <nav>
    <ul class="lista-menu">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Planos</a>
      </li>
      <li>
        <a href="#">Conta</a>
      </li>
      <li>
        <a href="#">blogue</a>
      </li>
      <li>
        <a href="#">Parceiros</a>
      </li>
      <li>
        <a href="#">Contato</a>
      </li>
      <li>
        <a class="button-menu" href="#">Entrar</a>
      </li>
    </ul>
  </nav>
</header>