<header class="menu">
  <img class="img-logo" src="img/logo.png" width="120px" height="36.38px">
  <nav>
    <ul class="lista-menu">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#sobre">Sobre</a>
      </li>
      <li>
        <a href="#planos">Planos</a>
      </li>
      <li>
        <a href="#parceiros">Parceiros</a>
      </li>
      <li>
        <a href="#contato">Contato</a>
      </li>
      <li>
        <a href="/login">Entrar</a>
      </li>
      <li>
        <a class="button-menu" href="/cadastro">Cadastrar</a>
      </li>
    </ul>
  </nav>
</header>